@page "/Clip/Manage"
@attribute [Authorize]
@rendermode InteractiveServer
@inject IHttpContextAccessor HttpContextAccessor
@inject DatabaseContext DatabaseContext
@inject DiscordNet DiscordNet
@using Discord.WebSocket
@using DiscordBot.Business.Bots
@using DiscordBot.Business.Helpers.Bot
@using DiscordBot.Data
@using DiscordBot.Models.Entities
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Serilog

<h3>Clip-Manager</h3>
<h5>TimeStamp (refreshes 10s): @DateTime.Now.Ticks</h5>
<InputCheckbox @bind-Value="_disconnectWhenDone">Disconnect when done</InputCheckbox>
<table class="table" style="width: 100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>CallCode</th>
            <th>FileName</th>
            <th>User</th>
            <th>Play</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var audioData in AudioClipData)
        {
            <tr>
                <td>@audioData.AudioClip.Id</td>
                <td>@audioData.AudioClip.CallCode</td>
                <td>@Path.GetFileNameWithoutExtension(audioData.AudioClip.FilePath)</td>
                @if (audioData.AudioClip.DiscordUser == null)
                {
                    <th>-</th>
                }
                else
                {
                    <th>@audioData.AudioClip.DiscordUser.Username<i>@audioData.AudioClip.DiscordUser.GlobalName</i></th>
                }
                <td><button @onclick="() => PlayClipAsync(audioData)">Play</button></td>
                <td>@audioData.Message</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    [Parameter]
    public List<AudioClip> AudioClips { get; set; } = [];

    private bool _disconnectWhenDone;

    private List<AudioClipComponentData> AudioClipData { get; set; } = [];
    protected override async Task OnInitializedAsync()
    {
        var queryResult = await DatabaseContext.AudioClips
            .AsNoTracking()
            .Include(i => i.DiscordUser)
            .ToListAsync();

        var clipData = queryResult
            .Select(s => new AudioClipComponentData { AudioClip = s })
            .ToList();
        AudioClipData = clipData;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await Task.Delay(3_000);
        StateHasChanged();
    }

    private async Task PlayClipAsync(AudioClipComponentData audioData)
    {
        try
        {
            audioData.Message = "Processing...";
            var id = HttpContextAccessor.GetUserIdFromHttpContextAccessor();
            if (id == null)
            {
                Log.Warning("Invalid sid from httpContext.");
                audioData.Message = "You need to re-authenticate.";
                return;
            }

            if (await DiscordNet.DiscordSocketClient.GetUserAsync(id.Value) is not SocketUser socketUser)
            {
                Log.Warning("Could not user from id.");
                audioData.Message = "You're not connected to a VC on a server.";
                return;
            }

            var socketGuildUser = socketUser.MutualGuilds
                .Select(s => s.GetUser(id.Value))
                .FirstOrDefault(w => w.VoiceChannel != null);
            if (socketGuildUser == null)
            {
                Log.Verbose("User dosen't seem to be in any VC of a guild the bot is also in.");
                audioData.Message = $"Can't access the VC, on {socketUser}";
                return;
            }

            audioData.Message = "Playing...";
            var audioClient = await socketGuildUser.VoiceChannel.ConnectAsync();
            using var audioHelper = new DiscordAudioHelper(audioClient);
            await audioHelper.PlayAudioAsync(audioData.AudioClip.FilePath);
            if (_disconnectWhenDone)
                await socketGuildUser.VoiceChannel.DisconnectAsync();

            audioData.Message = "Ready";
        }
        catch (Exception ex)
        {
            Log.Error(ex, "Error playing audioClip initiated by blazor.");
            audioData.Message = "Error";
        }
    }

    private sealed class AudioClipComponentData
    {
        internal required AudioClip AudioClip { get; init; }
        internal string Message { get; set; } = "Ready";
    }
}
