@page "/"
@using DiscordBot.Business.Helpers.Blazor

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<a href="@RouteHelper.CallbackUrl">@RouteHelper.CallbackUrl</a>
<br />
<a href="@RouteHelper.ClipManaging">@RouteHelper.ClipManaging</a>
<br />
<a href="@RouteHelper.ClipUpload">@RouteHelper.ClipUpload</a>
