@page "/"
@using DiscordBot.Business.Helpers.Blazor
@using DiscordBot.Components.Auth
@using DiscordBot.Components.Pages.Clip

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<a href="@CallbackUrl">@CallbackUrl</a>
<br />
<a href="@ClipManaging">@ClipManaging</a>
<br />
<a href="@ClipUpload">@ClipUpload</a>


@code {
    static readonly string CallbackUrl = Common.GetRelativeRoute<DiscordAuthorization>() ?? "/Error";
    static readonly string ClipManaging = Common.GetRelativeRoute<Manage>() ?? "/Error";
    static readonly string ClipUpload = Common.GetRelativeRoute<Upload>() ?? "/Error";
}