@page "/Home"
@page "/"
@using DiscordBot.Business.Helpers.Blazor

<PageTitle>Home</PageTitle>

@foreach (var routeGroup in RouteHelper.GroupedPageRoutes)
{

    <dl>
        <dt><a href="/@routeGroup.Key">@routeGroup.Key</a></dt>
        @foreach (var entry in routeGroup)
        {
            if (entry.EndsWith(routeGroup.Key))
                continue;

            <dd class="mb-0 ms-2">
                <a href="@entry">@entry</a>
            </dd>
        }
    </dl>
}

@* <h1>--Dynamic-End--</h1>

<a href="@RouteHelper.Clip">@RouteHelper.Clip</a>
<br />
<a href="@RouteHelper.ControlChat">@RouteHelper.ControlChat</a>
<br />
<a href="@RouteHelper.YouTubeEditor">@RouteHelper.YouTubeEditor</a>
<br />

 *@